<div class="row">
  <div class="col-xs-12">
    <h2>All Clients</h2>

    <div
      class="alert alert-warning"
      role="alert"
      *ngIf="!clients.length">There are no Clients yet.</div>

    <table
      class="table table-striped"
      *ngIf="clients.length">
      <thead>
        <tr>
          <th>Full Name</th>
          <th>Date of Birth</th>
          <th>Address</th>
          <th>Phone</th>
          <th>Email</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let clientEl of clients; let i = index"
            app-client-item
            [client]="clientEl"
            [index]="i">
        </tr>
      </tbody>
    </table>

  </div>
</div>
