<div class="row">
  <div class="col-xs-12">
    <h2>Client Info</h2>

    <div class="col-xs-6">
      <p><strong>First Name:</strong> {{ client.firstName }}</p>
      <p><strong>Last Name:</strong> {{ client.lastName }}</p>
      <p><strong>Addres:</strong> {{ client.address }}</p>
    </div>
    <div class="col-xs-6">
      <p><strong>Date of birth:</strong> {{ client.birthDate }}</p>
      <p><strong>Phone:</strong> {{ client.phone }}</p>
      <p><strong>Email:</strong> {{ client.email }}</p>
    </div>
  </div>
</div>
